<html xmlns="http://www.w3.org/1999/xhtml">
<!-- footer-top -->
	<div class="footer-top animated wow zoomInDown" data-wow-duration="1000ms" data-wow-delay="800ms">
		<div class="container">
			<h3>Tell you what you need<span>+0086-523-87205518</span></h3>
			<div class="more">
				<a href="mail.html">联系我们</a>
			</div>
		</div>
	</div>

	<div class="footer-copy animated wow bounceInDown" data-wow-duration="1000ms" data-wow-delay="800ms">
		<div class="container">
			<div class="footer-copy-grids">
				<div class="col-md-3 footer-copy-grid">
					<h3>关于 <span>通灵</span></h3>
					<img src="__PUBLIC__/static/index/images/6.jpg" alt=" " class="img-responsive" />
					<p>通灵乐器把质量视为公司的灵魂，我们值得依赖和信赖！有质的保障、合理的价格、精心的设计，我们的产品被来自全球各地的客户广泛认可和信赖，我们欢迎全球各地的新老客户联系我们，携手合作，共创未来！</p>
				</div>
				<div class="col-md-3 footer-copy-grid">
					<h3>联系 <span>我们</span></h3>
					<form>
						<input type="text" value="姓名" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '姓名';}" required="">
						<input type="email" value="邮箱" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '邮箱';}" required="">
						<textarea type="text"  onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '输入文本';}" required="">输入文本</textarea>
						<input type="submit" value="提交" >
					</form>
				</div>
				<div class="col-md-3 footer-copy-grid">
					<h3>优质 <span>产品</span></h3>
					<div class="footer-copy-grids">
						<div class="col-xs-4 footer-copy-grid1">
							<a href="product_details.html"><img src="__PUBLIC__/static/index/images/1.jpg" alt=" " class="img-responsive" /></a>
						</div>
						<div class="col-xs-4 footer-copy-grid1">
							<a href="product_details.html"><img src="__PUBLIC__/static/index/images/1.jpg" alt=" " class="img-responsive" /></a>
						</div>
						<div class="col-xs-4 footer-copy-grid1">
							<a href="product_details.html"><img src="__PUBLIC__/static/index/images/1.jpg" alt=" " class="img-responsive" /></a>
						</div>
						<div class="clearfix"> </div>
					</div>
					<div class="footer-copy-grids">
						<div class="col-xs-4 footer-copy-grid1">
							<a href="product_details.html"><img src="__PUBLIC__/static/index/images/1.jpg" alt=" " class="img-responsive" /></a>
						</div>
						<div class="col-xs-4 footer-copy-grid1">
							<a href="product_details.html"><img src="__PUBLIC__/static/index/images/1.jpg" alt=" " class="img-responsive" /></a>
						</div>
						<div class="col-xs-4 footer-copy-grid1">
							<a href="product_details.html"><img src="__PUBLIC__/static/index/images/1.jpg" alt=" " class="img-responsive" /></a>
						</div>
						<div class="clearfix"> </div>
					</div>
				</div>
				<div class="col-md-3 footer-copy-grid">
					<h3>导航</h3>
					<ul>
						<li><a href="about.html">关于通灵</a></li>
						<li><a href="product.html">我们的技能</a></li>
						<li><a href="about.html">优质产品</a></li>
						<li><a href="mail.html">联系我们</a></li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<div class="footer animated wow bounce" data-wow-duration="1000ms" data-wow-delay="800ms">
		<div class="container">
			<p>{$cfglist[6]['content']}</p>
		</div>
	</div>
<!-- //footer -->
</html>